*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ffprm);
}

:root {
  --ffprm: "Open Sans", sans-serif;
  --ffsec: "Beau Rivage", cursive;
  --prmClr: #162447;
  --secClr: #1f4068;
  --textClrDark: #1a1b2f;
  --ctaClr: #e33e5a;
  --light: #ffffff;
  --backgroundLight: rgba(31, 64, 104, 0.05);
}

#nav {
  padding: 1.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--secClr);
  transition: 0.3s;
  position: relative;
}

.nav-list-item {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
}
.logo {
  margin-right: auto;
  color: var(--light);
  font-weight: 600;
  font-size: 2rem;
  font-family: var(--ffsec);
}

#modal-nav {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: var(--secClr);
  top: 100%;
  right: 0;
  padding: 1rem;
  box-shadow: 5px 5px 20px black;
  border: 1px solid var(--textClrDark);
}

.modal-item {
  list-style: none;
  margin-bottom: 1rem;
}
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.line {
  width: 2rem;
  height: 4px;
  background-color: white;
  margin-top: 5px;
  border-radius: 20px;
}

/*============================ Home Page ==========*/

#home-page {
  background-color: var(--backgroundLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem;
}
.home-intro-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.search-container {
  border-bottom: 2px solid var(--secClr);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  max-width: 35rem;
  width: 90%;
  padding: 0.8rem;
  border: 3px solid var(--secClr);
  border-radius: 15px;
  background-color: rgba(31, 64, 104, 0.7);
  color: var(--light);
  font-size: 1.2rem;
  font-weight: 400;
}
.search-bar::placeholder {
  color: inherit;
}
.filter-container {
  width: 100%;
}
.filter-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
.filter-item {
  list-style: none;
  color: var(--prmClr);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* ------------ Grid -------------------*/

.grid-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 2rem;
  min-height: 50vh;
}

.country-card {
  text-align: center;
  width: 350px;
  height: 320px;
  margin: 8% auto;
  border-radius: 1%;
  transition: 0.3s;
  box-shadow: 2px 3px 20px rgb(0, 0, 0, 35%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.full-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.rotateCard {
  transform: rotateY(180deg);
}

.front-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  padding: 0 2rem;
}

.country-info-subtitle {
  word-wrap: break-word;
}
.country-card:hover {
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 35%);
}
.country-title {
  margin-bottom: 1rem;
}
.country-flag {
  width: 300px;
  height: 200px;
}
/* ======================== Typography==========*/
.test {
  color: black;
}
.nav-link {
  color: var(--light);
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 1.5rem;
  cursor: pointer;
}
.intro-title {
  color: var(--textClrDark);
  margin-bottom: 1rem;
}
.intro-body {
  color: var(--textClrDark);
}
.cta {
  color: var(--ctaClr);
  font-weight: 600;
}

.focusedFilter {
  color: var(--ctaClr);
}

p > .cta {
  font-size: 1.3rem;
}

.hide {
  display: none;
}

#footer {
  background-color: var(--secClr);
  padding: 1.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.3s;
}
.footer-link {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
.footer-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.footer-icon {
  width: 2.5rem;
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(21deg)
    brightness(109%) contrast(100%);
}
#about-section {
  background-color: var(--backgroundLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5rem;
  min-height: 80vh;
  transition: 0.3s;
}
.about-body-container {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}
.about-body {
  font-size: 1.2rem;
  text-align: center;
}
.project-details {
  margin-top: 1.5rem;
}
.about-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .about-body-container {
    width: 70%;
    transition: 0.3s;
  }
}

@media (max-width: 800px) {
  #home-page {
    padding: 3rem 2rem;
  }
  #nav {
    padding: 1.5rem 2rem;
    transition: 0.3s;
  }
  .nav-list {
    display: none;
  }
  #footer {
    padding: 1.5rem 2rem;
    transition: 0.3s;
  }
  .about-body-container {
    width: 85%;
    transition: 0.3s;
  }
  #about-section {
    padding: 5rem 1rem;
    transition: 0.3s;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fill, 325px);
    gap: 1rem;
  }
  .country-card {
    width: 325px;
    transition: 0.3s;
  }
  #modal-nav {
    display: flex;
  }
  .hamburger-menu {
    display: flex;
  }
}

@media (max-width: 475px) {
  #footer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s;
  }
  .footer-logo {
    margin: auto;
  }
  .about-body-container {
    width: 100%;
    transition: 0.3s;
  }
  #home-page {
    padding: 3rem 1rem;
  }
  .filter-item {
    padding: 0.5rem 0.5rem;
  }

  .grid-container {
    gap: 0.5rem;
  }
  .search-bar {
    font-size: 1rem;
  }
}
